<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit Profil</title>
</head>
<body>

  <% if (user.id) { %>
    <a href="/user?id=<%= user.id %>">Kembali</a><br />
  <% } %>

  <h2>Edit Profil</h2>

  <form action="/update-user" method="POST">
    <label for="name">Nama Lengkap:</label>
    <input type="text" id="name" name="name" value="<%= user.name %>" /><br />

    <label for="gender">Jenis Kelamin:</label>
    <select id="gender" name="gender">
      <option value="Laki-laki" <%= user.gender === 'Laki-laki' ? 'selected' : '' %>>Laki-laki</option>
      <option value="Perempuan" <%= user.gender === 'Perempuan' ? 'selected' : '' %>>Perempuan</option>
    </select><br />

    <label for="date_of_birth">Tanggal Lahir:</label>
    <input type="date" id="date_of_birth" name="date_of_birth" value="<%= user.date_of_birth %>" /><br />

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" value="<%= user.email %>" /><br />

    <label for="phone_number">Nomor Telepon:</label>
    <input type="text" id="phone_number" name="phone_number" value="<%= user.phone_number %>" /><br />

    <input type="submit" value="Simpan" />
  </form>
</body>
</html>
