<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Home</title>
</head>
<body class="bg-gray-100 font-sans">
  <nav class="bg-green-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex items-center space-x-4">
        <a class="text-white hover:underline" href="/home">Home</a>
        <a class="text-white hover:underline" href="/users">Users</a>
      </div>
      <img class="w-8 cursor-pointer" id="menuButton" src="../assets/icons/menu.png" alt="" onclick="toggleMenu()">
      <img class="w-8 cursor-pointer hidden" id="closeMenuButton" src="../assets/icons/close-menu.png" alt="" onclick="toggleMenu()">
    </div>
    <div id="menu" class="absolute right-0 mt-2 mr-2 w-40 bg-gray-100 p-2 rounded shadow hidden">
      <div class="flex items-center space-x-2">
        <a class="flex items-center py-1 px-2 transition-colors duration-300 hover:bg-gray-200 hover:text-gray-800" href="/profile">
          <img class="w-6 h-6" src="../assets/icons/profile.png" alt="">
          <span class="ml-1">Profile</span>
        </a>
      </div>
      <div class="flex items-center space-x-2">
        <a class="flex items-center py-1 px-2 transition-colors duration-300 hover:bg-gray-200 hover:text-gray-800" href="/settings">
          <img class="w-6 h-6" src="../assets/icons/settings.png" alt="">
          <span class="ml-1">Settings</span>
        </a>
      </div>
      <div class="flex items-center space-x-2">
        <a class="flex items-center py-1 px-2 transition-colors duration-300 hover:bg-gray-200 hover:text-gray-800" href="/logout">
          <img class="w-6 h-6" src="../assets/icons/logout.png" alt="">
          <span class="ml-1">Logout</span>
        </a>
      </div>
    </div>    
  </nav>
  <a href="/create-post" class="inline-block ml-4 mt-4 mb-4 px-8 py-3 text-white bg-green-500 hover:bg-green-700 rounded-md shadow-md transition-colors duration-300 flex items-center w-56">
    <img src="../assets/icons/plus.png" alt="" class="w-6 h-6 mr-2">
    Buat Postingan
  </a>
  
  <div>
    <% posts.forEach(function(post) { %>
      <div class="bg-white p-6 rounded-md shadow-md mb-8">
        <div class="flex items-center space-x-4">
          <img class="rounded-full w-16 h-16 cursor-pointer" src="<%= post.userProfilePicture ? `uploads/profile_pictures/${post.userProfilePicture}` : 'uploads/profile_pictures/placeholder.png' %>" alt="" onclick="window.location.href='/user?id=<%= post.user_id %>';">
          <a class="text-green-500 hover:underline" href="/user?id=<%= post.user_id %>"><%= post.user_name %></a>
        </div>
        <p class="text-gray-600 mt-2"><%= post.create_at %></p>
        <p class="mt-4"><%= post.caption %></p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
          <% post.photos.forEach(function(photo) { %>
            <img class="rounded-md" src="/<%= photo.file_path %>" alt="<%= photo.file_path %>">
          <% }); %>
          
          <% post.videos.forEach(function(video) { %>
            <video class="rounded-md" controls>
              <source src="/<%= video.file_path %>" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          <% }); %>
        </div>
        <div class="flex mt-4">
          <a class="text-green-500 mr-2" href="/post?id=<%= post.post_id %>">View Post</a>
          <div>
            <button class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 relative" onclick="getPostUrl('<%= post.post_id %>')">
              Copy URL
              <img class="absolute left-2 top-1/2 transform -translate-y-1/2 w-4 h-4" src="../assets/icons/link.png" alt="">
            </button>
          </div>
        </div>
      </div>
    <% }); %>    
  </div>
</div>

  <script>
    function getPostUrl(postId) {
      const postUrl = `${window.location.origin}/post?id=${postId}`;
      navigator.clipboard.writeText(postUrl)
        .then(() => {
          alert('Post URL copied to clipboard');
        })
        .catch((error) => {
          console.error('Failed to copy post URL: ', error);
          alert('Failed to copy post URL');
        });
    }
    
    function toggleMenu() {
      const menu = document.getElementById("menu");
      const menuButton = document.getElementById("menuButton");
      const closeMenuButton = document.getElementById("closeMenuButton");

      menu.classList.toggle("hidden");
      menuButton.classList.toggle("hidden");
      closeMenuButton.classList.toggle("hidden");
    }
  </script>
</body>
</html>
