<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>

  <a href="/login">Login</a>
  <ul>
    <% posts.forEach(function(post) { %>
      <li style="list-style-type: none;">
        <p>Posted by: <a style="text-decoration: none;" href="/user?id=<%= post.user_id %>"><%= post.user_name %></a></p>
        <p><%= post.create_at %></p>
          <p><%= post.caption %></p>
          <div>
            <% post.photos.forEach(function(photo) { %>
              <img style="width: 500px;" src="/<%= photo.file_path %>" alt="<%= photo.file_path %>">
            <% }); %>
            
            <% post.videos.forEach(function(video) { %>
              <video style="width: 500px;" controls>
                <source src="/<%= video.file_path %>" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            <% }); %>
          </div>
      
          <a href="/post?id=<%= post.post_id %>">Comment</a>
          <button onclick="getPostUrl('<%= post.post_id %>')">Copy URL</button>       
      </li>
    <% }); %>    
  </ul> 

  <script>
    function getPostUrl(postId) {
      const postUrl = `${window.location.origin}/post?id=${postId}`;
      navigator.clipboard.writeText(postUrl)
        .then(() => {
          alert('Post URL copied to clipboard!');
        })
        .catch((error) => {
          console.error('Failed to copy post URL: ', error);
          alert('Failed to copy post URL.');
        });
    }
  </script>
</body>
</html>
