<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>

    <a href="/home">Home</a>
    <a href="/users">Users</a>
    <a href="/menu">Menu</a><br>

    <h2>Profile</h2>

    <% if (message) { %>
    <p><%= message %></p>
    <% } %>

    <img src="/<%= user.profile_picture ? `uploads/profile_pictures/${user.profile_picture}` : 'uploads/profile_pictures/placeholder.png' %>"
    alt=""
    style="width: 100px"
    />
  
    <form action="/update-profile-picture" method="POST" enctype="multipart/form-data">
      <input type="file" name="profilePicture" accept="image/jpeg, image/jpg, image/png" required>
      <button type="submit">Upload</button>
    </form>

    <form id="confirm-delete" action="/delete-profile-picture" method="POST">
      <button type="button" onclick="confirmDelete()">Hapus Foto</button>
    </form><br>

    <button type="button" onclick="getProfileUrl()">Salin URL Profil</button>

    <p>Nama Lengkap: <%= user.name %></p>
    <p>Jenis Kelamin: <%= user.gender %></p>
    <p>Tanggal Lahir: <%= user.date_of_birth %></p>
    <p>Email: <%= user.email %></p>
    <p>Nomor Telepon: <%= user.phone_number %></p>

    <a href="/edit-profile">Edit Profile</a>

    <h2>Biodata</h2>

    <% if (biodata) { %>
    <p>Perguruan Tinggi: <%= biodata.perguruan_tinggi %></p>
    <p>Fakultas/Jurusan: <%= biodata.fakultas %></p>
    <p>Program Studi: <%= biodata.program_studi %></p>
    <p>Angkatan: <%= biodata.angkatan %></p>
    <% } else { %>
    <p>Biodata has not been filled in</p>
    <% } %>

    <a href="/update-biodata">Update Biodata</a>

    <script>
      function confirmDelete() {
        if (confirm("Apakah Anda yakin ingin menghapus foto profil?")) {
          document.getElementById("confirm-delete").submit();
        }
      }

      function getProfileUrl() {
        const profileUrl = window.location.href;
        navigator.clipboard
          .writeText(profileUrl)
          .then(function () {
            alert("URL Profil berhasil disalin");
          })
          .catch(function (error) {
            console.error("Tidak dapat menyalin URL Profil ini:", error);
          });
      }
    </script>
  </body>
</html>
