<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>

    <h2>Profile</h2>

    <% if (message) { %>
    <p><%= message %></p>
    <% } %>

    <img src="/<%= user.profile_picture ? `uploads/profile_pictures/${user.profile_picture}` : 'uploads/profile_pictures/placeholder.png' %>"
    alt=""
    style="width: 100px"
    />
  
    <br>

    <button type="button" onclick="getProfileUrl()">Salin URL Profil</button>

    <p>Bergabung pada: <%= user.create_at.toDateString() %></p>

    <p>Nama Lengkap: <%= user.name %></p>
    <p>Jenis Kelamin: <%= user.gender %></p>
    <p>Tanggal Lahir: <%= user.date_of_birth %></p>
    <p>Email: <%= user.email %></p>
    <p>Nomor Telepon: <%= user.phone_number %></p>

    <h2>Biodata</h2>

    <% if (biodata) { %>
    <p>Perguruan Tinggi: <%= biodata.perguruan_tinggi %></p>
    <p>Fakultas/Jurusan: <%= biodata.fakultas %></p>
    <p>Program Studi: <%= biodata.program_studi %></p>
    <p>Angkatan: <%= biodata.angkatan %></p>
    <% } else { %>
    <p>Biodata has not been filled in</p>
    <% } %>

    <script>
      function getProfileUrl() {
        const profileUrl = window.location.href;
        navigator.clipboard
          .writeText(profileUrl)
          .then(function () {
            alert("URL Profil berhasil disalin");
          })
          .catch(function (error) {
            console.error("Tidak dapat menyalin URL Profil ini:", error);
          });
      }
    </script>
  </body>
</html>
