<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profil</title>
  </head>
  <body>
    <h2>Profil</h2>

    <button type="button" onclick="getProfileUrl()">Salin URL Profil</button><br>

    <% if (message) { %>
    <p><%= message %></p>
    <% } %>

    <img
      src="/uploads/profile_pictures/<%= user.profile_picture %>"
      alt=""
      style="width: 100px"
    />

    <form
      action="/update-profile-picture"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="file" name="profile_picture" />
      <button type="submit">Upload</button>
    </form>

    <form id="confirm-delete" action="/delete-profile-picture" method="POST">
      <button type="button" onclick="confirmDelete()">Hapus Foto</button>
    </form>

    <p>Nama Lengkap: <%= user.nama_lengkap %></p>
    <p>Jenis Kelamin: <%= user.jenis_kelamin %></p>
    <p>Tanggal Lahir: <%= user.tanggal_lahir %></p>
    <p>Email: <%= user.email %></p>
    <p>Nomor Telepon: <%= user.nomor_telepon %></p>

    <a href="/edit-profil">Edit Profil</a>

    <h2>Biodata</h2>

    <% if (biodata) { %>
    <p>Perguruan Tinggi: <%= biodata.perguruan_tinggi %></p>
    <p>Fakultas/Jurusan: <%= biodata.fakultas %></p>
    <p>Program Studi: <%= biodata.program_studi %></p>
    <p>Angkatan: <%= biodata.angkatan %></p>
    <% } else { %>
    <p>Biodata belum di isi</p>
    <% } %>

    <a href="/perbarui-biodata">Perbarui Biodata</a>

    <h2>Hasil Studi</h2>

    <% if (hasilStudi) { %>
    <p>Semester: <%= hasilStudi.semester %></p>
    <p>IP: <%= hasilStudi.ip %></p>
    <% } else { %>
    <p>Hasil studi belum diisi</p>
    <% } %>

    <a href="/update-hasil-studi">Perbarui Hasil Studi</a>

    <script>
      function confirmDelete() {
        if (confirm("Apakah Anda yakin ingin menghapus foto profil?")) {
          document.getElementById("confirm-delete").submit();
        }
      }

      function getProfileUrl() {
        const profileUrl = window.location.href;
        navigator.clipboard
          .writeText(profileUrl)
          .then(function () {
            alert("URL Profil berhasil disalin");
          })
          .catch(function (error) {
            console.error("Tidak dapat menyalin URL Profil ini:", error);
          });
      }
    </script>
  </body>
</html>
