<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
</head>
<body>
    <form action="/exam/answer" method="post">
        <% for(var i=0; i<questions.length; i++) { %>
            <p><%= i + 1 %>. <%= questions[i].question %></p>
            <p>A. <input type="radio" name="<%= questions[i].id %>" value="a"> <%= questions[i].option_a %></p>
            <p>B. <input type="radio" name="<%= questions[i].id %>" value="b"> <%= questions[i].option_b %></p>
            <p>C. <input type="radio" name="<%= questions[i].id %>" value="c"> <%= questions[i].option_c %></p>
            <p>D. <input type="radio" name="<%= questions[i].id %>" value="d"> <%= questions[i].option_d %></p>
            <p>E. <input type="radio" name="<%= questions[i].id %>" value="e"> <%= questions[i].option_e %></p>
        <% } %>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
